[core]
	excludesfile = /Users/jdemarestmays/.gitignore
	# pager = less -FRX
	pager = delta
{{- if hasSuffix "WSL2" (get .chezmoi.kernel "osrelease") }}
  sshCommand = ssh.exe
{{- end }}
[interactive]
	diffFilter = delta --color-only
[user]
	email = {{ .email | quote }}
	name = Jake Demarest-Mays
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFO9fZ9+ST3WSFxlfTaIr1MIDLxT3OQFmsnd/Lw0zWBh
[url "ssh://git@stash.atlassian.com:7997/"]
	insteadOf = https://stash.atlassian.com/scm/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	# Used to be checkout, but switch won't autocomplete remote with config set
	sw = switch
	co = switch
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	undo-commit = reset HEAD~
	push-new = push -u origin HEAD
	list-aliases = config --get-regexp alias
	del-merged = "!git branch --merged | egrep -v \"(^\\*|master|main)\" | xargs -r git branch -d"
	fetch-main = fetch origin main:main
	push-after-rebase = push --force-with-lease
	re-co = rebase --continue
	re-ab = rebase --abort
	par = push --force-with-lease
	next = stack next
	prev = stack previous
	reword = stack reword
	sync = stack sync
	run = stack run
	amend = stack amend
	fixup = commit --fixup=HEAD
	repair = stack --repair
	tmp = commit -m 'tmp' --no-verify
[pager]
	branch = false
[pull]
	# ff = only
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if hasSuffix "WSL2" (get .chezmoi.kernel "osrelease") }}
  program = "/mnt/c/Users/Jake/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{- else }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
[rebase]
	# https://andrewlock.net/working-with-stacked-branches-in-git-is-easier-with-update-refs/#:~:text=This%20approach%2C%20where%20you%20have,top%20of%20the%20previous%20one.
	updateRefs = true
	autoStash = true
[rerere]
	enabled = true
[stack]
	protected-branch = main
	protected-branch = master
[trace2]
	eventTarget = af_unix:{{ .chezmoi.homeDir }}/.gittrace/trace.sock
	eventBrief = true
	eventNesting = 1
	configparams = custom.metacommands
[merge]
	conflictstyle = zdiff3
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
