# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'body':
  'cmd-k up': 'window:focus-pane-above'
  'cmd-k down': 'window:focus-pane-below'
  'cmd-k left': 'window:focus-pane-on-left'
  'cmd-k right': 'window:focus-pane-on-right'

  'cmd-k cmd-up': 'pane:split-up'
  'cmd-k cmd-down': 'pane:split-down'
  'cmd-k cmd-left': 'pane:split-left'
  'cmd-k cmd-right': 'pane:split-right'
